{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-container">
    <div class="shop-header" style="margin-top: 40px;">
        <div class="shop-info">
            <h1 class="serif-title">Complete Gallery</h1>
            <h2 class="text-muted small">Explore every captured moment available for your collection.</h2>
        </div>
    </div>

    <div class="shop-products-grid">
    {% for product in products %}
        {% include "includes/product_card.html" %}
    {% endfor %}
    </div>
</div>
{% endblock %}