<nav class="main-navbar">
    <div class="nav-container">
        <ul class="nav-menu">
            <li>
                <a href="{% url 'home' %}" class="nav-link" title="Home">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>

            <li>
                <a href="https://facebook.com" target="_blank" class="nav-link fb-circle" title="Facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>

            {% if user.userprofile.is_photographer %}
                <li>
                    <a href="{% url 'dashboard' %}" class="nav-link" title="Dashboard">
                        <i class="fa-solid fa-gauge-high"></i>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'view_cart' %}" class="nav-link cart-icon-link" title="Cart">
                        <i class="fa-solid fa-bag-shopping"></i>
                        {% if product_count > 0 %}
                            <span class="cart-badge-dot">{{ product_count }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account_logout' %}" class="nav-link" title="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'account_login' %}" class="nav-link" title="Login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_signup' %}" class="nav-link signup-icon-cta" title="Register">
                        <i class="fa-solid fa-user-plus"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>