<article class="card product-card">
    <div class="card-image-top">
        <a href="https://res.cloudinary.com/drscildms/image/upload/c_scale,w_1200/l_text:Verdana_60_bold:Photographer%20Hub,co_rgb:FFFFFF,o_30/fl_layer_apply,g_south_east,x_20,y_20/v1/{{ product.preview_image }}"
            class="glightbox" data-type="image">
            <img src="{{ product.preview_image.url }}" alt="{{ product.title }}" class="product-img">
            
            <div class="image-overlay">
                <span class="overlay-text serif-title">Full View</span>
            </div>
        </a>
    </div>

    <div class="card-body-bottom">
        <div class="product-details">
            <h3 class="card-title">{{ product.title }}</h3>
            <p class="price">€ {{ product.price }}</p>
        </div>

        {% if product.id|stringformat:"s" in request.session.cart %}
        <button class="btn btn-disabled w-100" disabled>In Cart ✓</button>
        {% else %}
        <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            <button type="submit" class="btn btn-primary w-100">Add to Cart</button>
        </form>
        {% endif %}
    </div>
</article>