{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Photographer Hub{% endblock %}</title>
    <meta name="description"
        content="{% block meta_description %}Soft family, children and women photography sessions and digital photo shop.{% endblock %}">

    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat:wght@300;400;600&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" media="print"
        onload="this.media='all'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


   
</head>

<body>
    {% include "includes/navbar.html" %}

    <div class="toast-container">
        {% if messages %}
        {% for message in messages %}
        <div class="toast-box {{ message.tags }}">
            <span class="toast-content">{{ message }}</span>
            <button class="toast-close" onclick="this.parentElement.remove()">&times;</button>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}
    <div id="confirmModal" class="modal-overlay" style="display:none;">
        <div class="modal-card">
            <h3 class="serif-title u-mb-4">Are you sure?</h3>
            <p id="modalMessage" class="u-mb-5 text-muted">This action cannot be undone.</p>
            <div class="modal-buttons">
                <button id="modalCancel" class="btn btn-outline">Cancel</button>
                <button id="modalConfirm" class="btn btn-primary"
                    style="background-color: var(--hover-color);">Delete</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>

    {% block postloadjs %}{% endblock %}
</body>

</html>